.gridContactanos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 3rem auto;
}

.gridContactanos div{
    padding: 3rem;
}

.gridContactanos h2{
    font-size: 3rem;
}

.gridContactanos label{
    font-size: 2rem;
}

.gridContactanos .imgContactanos{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
}


.gridContactanos .gridContactanos_Mensaje{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}
