<!-- <router-outlet></router-outlet> -->
<div class="gridContactanos">
    <div class="imgContactanos">
        <img [src]="imgContactanos" alt="">
    </div>

    <div class="gridContactanos_Mensaje">
        <h2>Permitenos conocertu opinion acerca de  ...</h2>
        <form action="">
            <label for="celular">Ingrese su numero de contacto</label>
            <input type="text" name="celular" id="celular"><br>
            <input type="checkbox" name="" id="aceptar">
            <label for="aceptar">he leido y aprueba las Politicas de proteccion de datos personales</label><br>
            <textarea name="" id="mensaje" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Registro">
            <button mat-raised-button color="accent">prueba</button>
        </form>
    </div>
</div>