agm-map {
    height: 300px;
}

:host{
    background-color: blue;
}

section{
    margin: 2rem  2rem;
}

h2{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.8rem;
}

p{
    color: white;
    font-size: 1.6rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    background-color: #1c283e;
    column-gap: 6rem;
}