<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<div class="container">
    <!-- <p>variable {{variable}}</p> -->
    <section>
        <h2>INFORMACIÓN DE LA TIENDA IMPULS@.</h2><br>
        <p>Direccion. xxxxx</p>
        <p>telefonoXX Ext. xxx</p><br><br>
        <h2>Marketplace</h2>
        <p>marketplaceTienda@dominio.co</p><br><br>
        <h2>Tiendas Físicas</h2>
        <p>inforTienda@dominio.co</p><br>
    </section>
    
    <section>
        <h2>ATENCIÓN AL CLIENTE</h2><br>
        <p>Mi cuenta</p>
        <p>Felicitaciones quejas o sugerencias</p>
        <p>Preguntas</p>
        <p>Información tiendas o eventos</p>
        <p>Políticas de privacidad</p>
        <p>Términos y condiciones</p>
        <p>Tarjeta de Credito - Términos y condiciones</p><br>
    </section>
    
    <section>
        <h2>PAGO SEGURO</h2><br>
        <picture> <!--placetopay-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Onlie</figcaption>
        </picture>
        <picture> <!--mediosDePago-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="mediosDePago" title="mediosDePago">
            <figcaption>mediosDePago</figcaption><br><br>
        </picture>
        <h2>PARA DESCUENTOS</h2>
        <p>Utiliza tu Tarjeta de Credito</p> <br>
        <picture> <!--placetopay-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Online</figcaption>
        </picture>
    </section>
<!--     
    <section>

    </section> -->
    
    <section>
        <h2>Mi Cuenta</h2><br>
        <p>Registrate</p>
        <p>Cambia tu clave</p>
        <p>Olvide mi clave</p><br><br>
        <picture> <!--wishlist-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="Whatsapp" title="Whatsapp">
            <figcaption>Whatsapp</figcaption>
        </picture>
        <picture> <!--carrito-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="Instagram" title="Instagram">
            <figcaption>Instagram</figcaption>
        </picture>
        <picture> <!--subir-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="Twitter" title="Twitter">
            <figcaption>Twitter</figcaption>
        </picture>
        <picture>
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="Facebook" title="Facebook">
            <figcaption>Facebook</figcaption>
        </picture>
    </section>
</div>