<!-- <router-outlet></router-outlet> -->
<div class="gridMiCuenta">
    <div class="imgMiCuenta">
        <img [src]="imgMiCuenta" alt="">
    </div>

    <div class="gridMiCuenta_Registro">
        <h2>Registrate y haz parte de ...</h2>
        <form method="" action="">
            <label for="celular">Ingrese su numero de contacto</label>
            <input type="text" name="celular" id="celular"><br><br>
            <input type="checkbox" name="aceptar" id="aceptar">
            <label for="aceptar">he leido y aprueba las Politicas de proteccion de datos personales</label><br><br>
            <input type="submit" value="Registro">
        </form>
    </div>
    <div class="gridMiCuenta_Login">
        <h2>Continua logrando ...</h2>
        <form method="" action="">
            <label for="celular">Usuario / celular</label>
            <input type="text" name="celular" id="celular"><br>
            <label for="password">Password</label>
            <input type="password" name="" id="password"> <br><br>
            <label for="recordar">recordar mi usurio</label>
            <input type="checkbox" name="" id="recordar"><br>
            <a href="">¿Olvido su Usuario o contraseña?</a><br><br>
            <input type="submit" value="Ingresa">
        </form>
    </div>
</div>